<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <nav class="header">
        <ul>
            <li><a href="{{url_for('homepage')}}">Home</a></li>
            <li><a href="{{url_for('contact')}}" > Contact </a></li>
            <li><a href="{{url_for('project')}}">Project</a></li>
            <li><a href="{{url_for('me')}}">About Me</a></li>
        </ul>
    </nav>

    <section class="project">
        <h1 class="project-title"><span><b>Project Saya</b></span></h1> 
        <div class="project-img">
            <img style="border-radius: 100px;" src="{{ url_for('static', filename='images/Tubes.png') }}" height="500" alt="Project Tugas Besar">
        </div>
        <div class="project-text">
            <p>Project ini merupkana project pertama saya di perkuliahan. Project ini merupakan project yang sangatlah sederhana yang bertujuan untuk mengimplementasikan dasar-dasar dari bahasa C pada pembelajaran Pemerograman I. Project ini menggunakan <span>Arduino Uno, Sensor ultrasonik HC-SR04, Layar LCD 16x2 I2C, Modul Micro SD Card, Micro SD. </span>Project ini berfungsi untuk menyimulasikan lampu rambu lalu lintas untuk kendaraan bermotor dan lampu rambu lalu lintas untuk pejalan kaki.</p>
        </div>
    </section> 

</body>
</html>